<!--For connectors running on GCP. Uses format that is friendly for Stack Driver to consume.-->
<!--This can be enabled in docker by setting env var LOGGING_CONFIG=/app/resources/logback-gcp.xml-->
<configuration>
  <appender name="STDOUT" class="org.interledger.connector.server.spring.gcp.BufferedConsoleAppender">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="org.interledger.connector.server.spring.gcp.GCPCloudLoggingJSONLayout">
        <pattern>%-4relative [%thread] %-5level %logger{35} - %msg</pattern>
      </layout>
    </encoder>
    <!-- bufferSize and flushRateMillis can be overridden via spring properties. If not set, will use class defaults -->
    <bufferSize>${logging.bufferSize}</bufferSize>
    <flushRateMillis>${logging.flushRateMillis}</flushRateMillis>
  </appender>

  <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <root level="INFO">
    <appender-ref ref="ASYNC"/>
  </root>
</configuration>
